body {
  background: #5649e3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
  margin: 1rem 0;
}

button {
  border: none;
  cursor: pointer;
  padding: 0.625rem;
  border-radius: 5px;
}

.bars {
  font-size: 1.2rem;
}

.logo {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

/* hero */
.hero-container {
  min-height: calc(100vh - 10rem);
  display: grid;
  place-items: center;
}
.hero-center {
  color: #fff;
}
.hero-center h1 {
  font-size: clamp(3rem, 5vw, 5rem);
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.25;
}
.hero-center p {
  font-size: 1.1rem;
  font-weight: 500;

  line-height: 1.5rem;
}

@media screen and (min-width: 992px) {
  .hero-center {
    text-align: center;
  }
  .hero-center p {
    max-width: 35em;
    margin: 0 auto;
  }
  .toggle-btn {
    display: none;
  }
}

/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  /* toggle stuff */
  opacity: 0;
  visibility: hidden;
}
/* toggle class */
.show-sidebar {
  opacity: 1;
  visibility: visible;
  transition-property: opacity;
  transition-duration: 1s;
}
.sidebar-container {
  padding: 4rem 2rem;
  position: relative;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #5649e3;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.sidebar article {
  margin-bottom: 2rem;
}
.sidebar h4 {
  margin-bottom: 1rem;
  color: #5c4fea;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
}
.sidebar-sublinks a {
  text-decoration: none;
  display: block;
  color: rgb(27, 25, 36);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sidebar-sublinks svg {
  color: rgb(27, 25, 36);
}

@media screen and (min-width: 992px) {
  .sidebar {
    display: none;
  }
}

/* navlinks */

.nav-links {
  display: none;
}

@media screen and (min-width: 992px) {
  .nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .nav-link {
    align-self: stretch;
    padding: 0 1rem;
    color: #fff;
    background: transparent;
    border-color: transparent;
    font-size: 1.25rem;
    text-transform: capitalize;
    letter-spacing: 3px;
    cursor: pointer;
  }
}

/* submenu */
.submenu {
  display: none;
}

@media screen and (min-width: 992px) {
  .submenu {
    display: block;
    position: fixed;
    background-color: #fff;
    top: 6rem;
    width: 70%;
    left: 50%;
    padding: 1rem;
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s linear, opacity 0.2s ease-in-out;
  }
  .show-submenu {
    visibility: visible;
    opacity: 1;
    transform: rotate(0deg) translateX(-50%);
  }
  .submenu h5 {
    margin-bottom: 1rem;
    color: #5c4fea;
    font-size: 1.3rem;
    text-transform: capitalize;
  }
  .submenu-links {
    display: grid;
    row-gap: 0.5rem;
  }
  .submenu-links a {
    display: block;
    color: #252433;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-size: 1rem;
  }
  .submenu-links a svg {
    font-size: 1.5rem;
  }
}
